*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222; 
    /* background-image: linear-gradient(to bottom right  #ffa17f ,#00223e); */
 
    
}

/* img section */
img{
    display: block;
    height: 120px;
    width: 120px;
    margin: auto;
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 3px hotpink;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;

}

img:hover{
   height: 190px;
   width: 190px;
   border-radius: 30px;
   border-style: dotted;
   /* text-transform: capitalize; */
   
}

 p{
    margin: 10px;
    float: center;
} 

.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
    grid-auto-flow: dense;
    
}

.box{
    display: flex;
    padding: 7px;
    /* border: 2px solid cyan; */
    /* float: center; */
    font-size: 20px;
    justify-content: center;
    place-items: center;
    text-align: center;
    transition: 0,5s;
    /* width: 333px; */
    background-color: rgba(102, 112, 87, 0.5);
    border: 5px solid cyan;
    border-style: dashed;
     border-radius: 30px; 
    box-shadow: 5px 5px 78px 6px rgb(161, 44, 44) inset;
}

.box:hover{
    background-color: #e91e63;
    background-size: auto;
}

.content{
    display: grid;
 /* border: 1px solid red; */
padding: 2px;
}  

/* .content{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    max-width: 600px;
} */

.container .box:nth-child(1){
    grid-column: span 4;
}
.container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.container .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 3;
}
.container .box:nth-child(7){
    grid-column: span 3;
    
} 
 /* .container .box:nth-child(6){
    grid-column: span 1;
    grid-row: span 2;
}  */
